<h1>HOME</h1>
<p>This is the Home Page for the project that replicates <a href="http://www.facebook.com">Facebook</a>and inplement it using the RoR (Ruby on Rails) Framework</p>

<%= link_to "SignUp", signup_path %>


