@import "bootstrap";

.darkBlueBG
{
	background:#3b5998;
}
.whiteBG
{
	background:#fff;
}
.whiteText
{
	color:#fff;
	text-decoration:none;
	text-shadow:0 0 0;
}
.grayText
{
	color:#98a9ca;
	text-decoration:none;
	text-shadow:0 0 0 white;
}
.navbar .nav > li > a
{
	color:#98a9ca;
	text-decoration:none;
	text-shadow:0 0 0 white;	
}
.clear
{
	clear:both;
}
.squareBox
{
}