<footer class="navbar navbar-fixed-bottom">
  <div class="navbar-inner whiteBG">
    <div class="container">
      <nav>
        <ul class="nav pull-right grayText">
          <li><%= link_to "About", about_path %></li>
          <li><%= link_to "Contact", contact_path %></li>
          <li><a href="http://news.railstutorial.org/">News</a></li>
        </ul>
      </nav>
    </div>
  </div>
</footer>